doctype html
html
    head
        meta(charset='utf-8')

        meta(property='og:title', content=schema.title)
        title= schema.title

        meta(name='description', content=schema.description)
        meta(property='og:description', content=schema.description)

        style(type='text/css').
            body {
                font-family: Tahoma, sans-serif;
                background-color: #111;
                max-width: 960px;
                margin: 0 auto;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            .group {
                position: relative;
                margin: 200px 0;
            }

            .group .images {
                padding: 5px;
            }

            .row {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .image-wrapper {
                flex: 1.3;
            }

            .image-link {
                position: relative;
                display: block;
                margin: 5px;
            }

            .group .image {
                position: absolute;
            }

            .group .placeholder {
                background-color: #222;
            }

            .group .source {
                text-align: center;
                padding-top: 20px;
                color: #666;
            }

            .group .source a {
                color: #777 !important;
            }

    body
        for group in schema.groups
            .group(id=group.id)
                .images
                    for row in group.rows
                        .row
                            for image in row
                                .image-wrapper(data-src=image.url,
                                style='flex:' + (image.width / image.height) + ';max-width:' + image.width + 'px;')
                                    a.image-link(href='#' + group.id)
                                        img.image(data-src=image.url)
                                        noscript
                                            img.image(src=image.url)
                                        .placeholder(style='padding-bottom: ' + ((image.height / image.width) * 100) + '%;')
                if group.source
                    div.source= 'Source: '
                        a(href=group.source)= group.source

        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1.6.4/dist/css/lightgallery.min.css')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-video,npm/lg-zoom')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.plugins.min.js')
        script(type='text/javascript').
            $(document).ready(function () {
                var images = $('.images');
                images.lightGallery({
                    selector: '.image-wrapper'
                });
                $('.image').Lazy({
                    threshold: (window.screen.height || 2000) * 2,
                    effect: 'fadeIn',
                    effectTime: 1000
                });
            });

