doctype html
html
    head
        meta(charset='utf-8')

        meta(property='og:title', content=title)
        title= title


        meta(name='description', content=description)
        meta(property='og:description', content=description)

        style(type='text/css').
            body {
                font-family: Tahoma, sans-serif;
                background-color: #111;
                max-width: 960px;
                margin: 0 auto;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            .group {
                position: relative;
                margin: 200px 0;
                padding: 5px;
            }

            .group:first-of-type {
                margin-top: 100px;
            }

            .group:last-of-type {
                margin-bottom: 100px;
            }

            .group .images {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .group .image-wrapper {
                flex: 1.3;
            }

            .group .image-link {
                position: relative;
                display: block;
                margin: 5px;
            }

            .group .image {
                position: absolute;
            }

            .group .placeholder {
                background-color: #222;
            }

            .group .source {
                text-align: center;
                padding-top: 20px;
                color: #666;
            }

            .group .source a {
                color: #777 !important;
            }

    body
        for group in groups
            .group(id=group.id)
                .images(data-layout=group.layout)
                    for image in group.images
                        .image-wrapper(data-src=image.path,
                        style='flex:' + (image.dimensions.width / image.dimensions.height) + ';max-width:' + image.dimensions.width + 'px;')
                            a.image-link(href='#' + group.id)
                                img.image(data-src=image.path)
                                noscript
                                    img.image(src=image.path)
                                .placeholder(style='padding-bottom: ' + ((image.dimensions.height / image.dimensions.width) * 100) + '%;')
                if group.source
                    div.source= 'Source: '
                        a(href=group.source)= group.source
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1.6.4/dist/css/lightgallery.min.css')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-video,npm/lg-zoom')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.plugins.min.js')
        script(type='text/javascript').
            $(document).ready(function () {
                var images = $('.images');
                images.lightGallery({});
                $('.image').Lazy({
                    threshold: (window.screen.height || 2000) * 2,
                    effect: 'fadeIn',
                    effectTime: 1000
                });
            });

